<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<head>
	<title>Nirvana</title>

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

	<link rel="stylesheet" type="text/css" href="styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body class = "nirvana">
 <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Music Wiki</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
      	        <li class="active" style="padding: 4px;"><a href="file:///C:/Users/User1/Desktop/tw/nirvana.html#">Nirvana</a></li>
        <li class="" style="padding: 4px;"><a href="file:///C:/Users/User1/Desktop/tw/eminem.html#">Eminem</a></li>
        <li class="" style="padding: 4px;"><a href="file:///C:/Users/User1/Desktop/tw/Michael%20Jackson.html">Michael Jackson</a></li>
        <li class="" style="padding: 4px;"><a href="file:///C:/Users/User1/Desktop/tw/Linkin%20Park.html">Linkin Park</a></li>
        <li class="" style="padding: 4px;"><a href="file:///C:/Users/User1/Desktop/tw/Black%20Eyed%20Peas.html#">Black Eyed Peas</a></li>
 
      <ul class="nav navbar-nav navbar-right">
      <li><a href="#">LogOut  <i class="glyphicon glyphicon-log-out"></i></a></li>

      </ul>
    </div>
  </div>
 </nav>

<div style="padding-top: 4%;">
	<div class="dropdown">
 	 <button class="dropbtn">My Playlist</button>
 		<div class="dropdown-content">
    		<a href="https://www.youtube.com/watch?v=d4LdUQzCPPM">Nirvana-Lithium</a>
   			<a href="https://www.youtube.com/watch?v=Z05qiPnLpMM">Nirvana-Lake of fire</a>
    		<a href="https://www.youtube.com/watch?v=_Yhyp-_hX2s">Eminem-Lose yourself</a>
	  	</div>
	</div>   
</div>
<div class="post">
	<h2 style="font-size: 2vw;">Top Tracks: </h2>
	<h3 style="font-size: 2vw"><a href="https://www.youtube.com/watch?v=hTWKbfoikeg" style="color:black;"><u>1.Smells Like Teen Spirit</u></a></h3>
	<p>"Smells Like Teen Spirit" was Nirvana's biggest hit in most countries, placing high on music industry charts around the world in 1991 and 1992, including topping the charts of Belgium, France, New Zealand and Spain. The unexpected success propelled Nevermind to the top of several albums charts at the start of 1992, an event often marked as the point where grunge entered the mainstream.</p>
	<h3 style="font-size: 2vw"><a href="https://www.youtube.com/watch?v=PbgKEjNBHqM"style="color:black;"><u> 2.In Bloom</u></a></h3>
	<p>Nirvana made its first music video for an early version of "In Bloom" in 1990; however the song did not appear on a commercial release until the release of the group's second album, Nevermind, in 1991. "In Bloom" became the fourth and final single from the album in late 1992. 
</p>
	<h3 style="font-size: 2vw"><a href="https://www.youtube.com/watch?v=91E-hH8zqrI" style="color:black;"><u>3.Heart Shaped Box</u></a></h3>
	<p>The single made the top 10 in several countries, Portugal, the United Kingdom,[4][5] Ireland, Finland and New Zealand, and the top 40 in numerous other countries. The music video, directed by Anton Corbijn, garnered critical plaudits, and won two awards, including Best Alternative Video at the MTV Video Music Awards in 1994. "Heart-Shaped Box" was the last song Cobain performed live with Nirvana, on March 1, 1994 in Munich, Germany.[6]
	</p>
	<div class="animation">
<i style="font-size: 80px; color: white; margin-top: 90px;"class="glyphicon glyphicon-music"></i>
</div>
</div>
<div class="generals">
	<figure>
	<img style="height: 15%; width: 100%; padding-top: 0.1%"src="nirvana-group.jpg">
	  <figcaption style="font-size: 100%"><u>Nirvana Founding Members Group photo</u></figcaption>

</figure>
	<h4><i class="glyphicon glyphicon-hand-right"></i><u> General Info:</u></h4>
	<h5><u> Members</u></h5>
	<p>Kurt Cobain - Guitar, Vocals, Composer</p>
	<p>Krist Novoselic - Bass</p>
	<p>Dave Grohl - Drums, Vocals</p>
	<h5><u> Years Active</u></h5>
	<p>1987-1994</p>
	<h5><u>Origin</u></h5>
	<p>Aberdeen, Washington, USA</p>
	<h5><u>Genre</u></h5>
	<p>Alternative Rock, Grunge</p>
	<audio controls autoplay style="width: 100%; height: 50px;">
  <source src="Nirvana - Oh Me.ogg" type="audio/ogg">
  <source src="Nirvana - Oh Me.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>

</div>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
