<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<head>
	<title>Black Eyed Peas</title>

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

	<link rel="stylesheet" type="text/css" href="styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body class = "bep">
 <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="file:///C:/Users/User1/Desktop/tw/homepage.html">Music Wiki</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="" style="padding: 4px;"><a href=\nirvana.html#">Nirvana</a></li>
        <li class="" style="padding: 4px;"><a href="\eminem.html#">Eminem</a></li>
        <li class="" style="padding: 4px;"><a href="\Michael%20Jackson.html">Michael Jackson</a></li>
        <li class="" style="padding: 4px;"><a href="\Linkin%20Park.html">Linkin Park</a></li>
        <li class="active" style="padding: 4px;"><a href="\Black%20Eyed%20Peas.html#">Black Eyed Peas</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li><form action="/logout?_method=DELETE" method = "POST"><button class="btn btn-default btn-lg" type="submit">LogOut  <i class="glyphicon glyphicon-log-out"></i></a></button></form></li>

      </ul>
    </div>
  </div>
 </nav>

<div style="padding-top: 4%;">
	<div class="dropdown">
 	 <button class="dropbtn">My Playlist</button>
 		<div class="dropdown-content">
    		<a href="https://www.youtube.com/watch?v=d4LdUQzCPPM">Nirvana-Lithium</a>
   			<a href="https://www.youtube.com/watch?v=Z05qiPnLpMM">Nirvana-Lake of fire</a>
    		<a href="https://www.youtube.com/watch?v=_Yhyp-_hX2s">Eminem-Lose yourself</a>
	  	</div>
	</div>   
</div>
<div class="post">
	<h2 style="font-size: 2vw;">Top Tracks: </h2>
	<h3 style="font-size: 2vw"><a href="https://www.youtube.com/watch?v=XbGs_qK2PQA" style="color:black;"><u>1.Pump It</u></a></h3>
	<p>"Pump It" is a 2005 song by The Black Eyed Peas. It was released as the fourth and final single from The Black Eyed Peas' 2005 album Monkey Business. This song was also remixed for the deluxe edition of the group's fifth studio album The E.N.D as "Pump It Harder". "Pump It" heavily incorporates music from Dick Dale's 1962 surf version of "Misirlou" (known for being featured in the 1994 Quentin Tarantino film Pulp Fiction).
</p>
	<h3 style="font-size: 2vw"><a href="https://www.youtube.com/watch?v=_Yhyp-_hX2s"style="color:black;"><u> 2.Boom Boom Pow</u></a></h3>
	<p> It is the second longest-running single to stay atop the Hot 100 in 2009, beaten only by The Black Eyed Peas' second single from The E.N.D, "I Gotta Feeling", which held the top spot for 14 consecutive weeks. The song was named 7th on the Billboard Hot 100 Songs of the Decade[1] and 51st on the Billboard Hot 100 Songs of All-time.


 </p>
	<h3 style="font-size: 2vw"><a href="https://www.youtube.com/watch?v=ytQ5CYE1VZw" style="color:black;"><u>3.Where Is the Love</u></a></h3>
	<p>"Where Is the Love?" is a song by American hip hop group The Black Eyed Peas. It was released in June 2003 as the lead single from their third album, Elephunk. The song was written by will.i.am, apl.de.ap, Taboo, Justin Timberlake, Printz Board, Michael Fratantuno and George Pajon. The track features vocals from Timberlake, although he is not officially credited on the single release. It was the group's first song to feature singer Fergie as an official member.

	</p>
	<div class="animation">
<i style="font-size: 80px; color: white; margin-top: 70px;"class="glyphicon glyphicon-music"></i>
</div>
</div>
<div class="generals">
	<figure>
	<img style="height: 15%; width: 100%; padding-top: 0.1%"src="bep founding.jpg">
	  <figcaption style="font-size: 100%"><u>Black Eyed Peas Founding Members</u></figcaption>

</figure>
	<h4><i class="glyphicon glyphicon-hand-right"></i><u> General Info:</u></h4>
	<h5><u> Members</u></h5>
	<p>Will.I.Am</p>
	<p>Apl.De.Ap</p>
	<p>Taboo</p>
	<p>Dave Ferrell</p>
	<p>J Rey Soul</p>
	<h5><u> Years Active</u></h5>
	<p>1995-present</p>
	<h5><u>Origin</u></h5>
	<p>Los Angeles, California, USA</p>
	<h5><u>Genre</u></h5>
	<p>Pop</p>
		<audio controls autoplay style="width: 90%; height: 40px;">
  <source src="The Black Eyed Peas - I Gotta Feeling (Official Music Video).ogg" type="audio/ogg">
  <source src="The Black Eyed Peas - I Gotta Feeling (Official Music Video).mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>

</div>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
