<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<head>
	<title>Eminem</title>

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

	<link rel="stylesheet" type="text/css" href="styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body class = "eminem">
 <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Music Wiki</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
 		        <li class="" style="padding: 4px;"><a href="\nirvana.html#">Nirvana</a></li>
        <li class="active" style="padding: 4px;"><a href="\eminem.html#">Eminem</a></li>
        <li class="" style="padding: 4px;"><a href="\Michael%20Jackson.html">Michael Jackson</a></li>
        <li class="" style="padding: 4px;"><a href="\Linkin%20Park.html">Linkin Park</a></li>
        <li class="" style="padding: 4px;"><a href="\Black%20Eyed%20Peas.html#">Black Eyed Peas</a></li>
 
      <ul class="nav navbar-nav navbar-right">
    <li><form action="/logout?_method=DELETE" method = "POST"><button class="btn btn-default btn-lg" type="submit">LogOut  <i class="glyphicon glyphicon-log-out"></i></a></button></form></li>

      </ul>
    </div>
  </div>
 </nav>

<div style="padding-top: 4%;">
	<div class="dropdown">
 	 <button class="dropbtn">My Playlist</button>
 		<div class="dropdown-content">
    		<a href="https://www.youtube.com/watch?v=d4LdUQzCPPM">Nirvana-Lithium</a>
   			<a href="https://www.youtube.com/watch?v=Z05qiPnLpMM">Nirvana-Lake of fire</a>
    		<a href="https://www.youtube.com/watch?v=_Yhyp-_hX2s">Eminem-Lose yourself</a>
	  	</div>
	</div>   
</div>
<div class="post">
	<h2 style="font-size: 2vw;">Top Tracks: </h2>
	<h3 style="font-size: 2vw"><a href="https://www.youtube.com/watch?v=XbGs_qK2PQA" style="color:black;"><u>1.Rap God</u></a></h3>
	<p> It contains references to previous conflicts in Eminem's career, as well as to other rappers' conduct. The song received very positive reviews, with critics praising Eminem's lyrical ability and rapping speed.
	The song entered the Guinness World Records as the hit single that contains the most words; it has 1,560 words.</p>
	<h3 style="font-size: 2vw"><a href="https://www.youtube.com/watch?v=_Yhyp-_hX2s"style="color:black;"><u> 2.Lose Yourself</u></a></h3>
	<p>The song's lyrics explicitly sum up the background of Eminem's character in 8 Mile, B-Rabbit, with the first verse summing up much of the plot of the movie. The song incorporates several aggressive themes, largely dealing with the struggles dealt with by B-Rabbit, and how he eventually overcomes his many problems and obstacles to gain the respect of other rappers.
 </p>
	<h3 style="font-size: 2vw"><a href="https://www.youtube.com/watch?v=ytQ5CYE1VZw" style="color:black;"><u>3.Till I Collapse</u></a></h3>
	<p>"Till I Collapse" is a song by American rapper Eminem, released from his fourth studio album, The Eminem Show, in 2002. It is the 18th track on the album, and features American rapper Nate Dogg performing the hook. Despite never being released as a single, the song has managed to chart numerous times worldwide.
	</p>
	<div class="animation">
<i style="font-size: 80px; color: white; margin-top: 100px;"class="glyphicon glyphicon-music"></i>
</div>
</div>
<div class="generals">
	<figure>
	<img style="height: 15%; width: 100%; padding-top: 0.1%"src="eminem perfeorming.jpg">
	  <figcaption style="font-size: 100%"><u>Eminem perfeorming in his early career days</u></figcaption>

</figure>

	<h4><i class="glyphicon glyphicon-hand-right" ></i><u> General Info:</u></h4>
	<h5><u> Real Name</u></h5>
	<p>Marshall Bruce Mathers III</p>
	<h5><u>Other Names</u></h5>
	<p>M&M, Slim Shady, Double M</p>
	<h5><u> Years Active</u></h5>
	<p>1995-present</p>
	<h5><u>Origin</u></h5>
	<p>Detroit, Michigan, USA</p>
	<h5><u>Genre</u></h5>
	<p>Hip Hop</p>
	<h5><u>Awards</u></h5>
	<p style="background-color: lightgreen">Wins - 362</p>
	<p style="background-color: lightpink">Nominations - 362</p>
	<audio controls autoplay style="width: 100%; height: 40px;">
  <source src="Eminem - Mockingbird.ogg" type="audio/ogg">
  <source src="Eminem - Mockingbird.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>

</div>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
